/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background: #e7cef792;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.phone-display {
  background: linear-gradient(150deg, #8d427f, #403aaf);
  width: 300px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 3px 3px 7px  rgba(46, 46, 46, 0.448);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  padding: 30px 0;
}

.date {
  display: flex;
  color: rgba(255, 255, 255, 0.444);
  font-weight: 200;
  font-size: 40px;
}

.date:hover {
  color: rgb(255, 255, 255);
}

.time-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 40px;

    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #ad84ff20;
}

.time-display ul {
  display: flex;
  flex-direction: row;
}


.audio-player {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: #f1f3f4;
  border-radius: 0 0 20px 20px;
  padding-bottom: 3px;
}

.box {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(150deg, #F9D976, #F39F86);
  animation: GFG 360s infinite linear;
  position: absolute;
}

@keyframes GFG {
  0% {
      transform: rotate(-180deg)
            translateY(123px) rotate(0deg);
  }

  100% {
      transform: rotate(180deg)
            translateY(123px) rotate(360deg);
  }
}

